body, html, div, img, ul, li, h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
}

div, h1 {
	font-family: Arial;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	/*color: #0167FF;*/ /* blue */
	color: orange;
}

/* reduces the width of the form to only what is necessary */
form { 

}

#header {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 40px;
	width: 100%;
}

#footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 15px;
	width: 100%;
	position: fixed;
    bottom: 0px;
}

#content {
}

#userNavi {
	background-color: black;
	box-shadow: 0 1px 8px 2px rgba(52,65,108,0.25);
}

#userNavi ul li {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

#userNavi li {
	font-size: 20px;
	padding: 0px;
	margin-left: 30px;
}

.logo {
	background-color: white;
	text-align: center;
	width: 50%;
	margin: auto;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+29,ffffff+68,000000+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left,  #000000 0%, #ffffff 29%, #ffffff 68%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #000000 0%,#ffffff 29%,#ffffff 68%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #000000 0%,#ffffff 29%,#ffffff 68%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

.form {
	display: inline-block;
	width: auto;
}

.bold {
	font-weight: bold;
}

.loginForm {
	margin-top: 30px;
	text-align: center;
}

.loginForm-messages {
	text-align: center;
	margin-top: 50px;
}

.registerForm {
	margin-top: 30px;
	text-align: center;
}

.registerForm-messages {
	text-align: center;
	margin-top: 50px;
}


.panelAdmin-background {
	width: 1000px;
	background-color: orange;
	margin-left: auto;
	margin-right: auto;
}

.panelAdmin-link {
	font-size: 50px;
	background-color: orange;
	width: 1000px;
	text-align: center;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 3px 8px 2px rgba(52,65,108,0.25);
}

.panelAdmin-link:hover {
	color: white;
}

.black-button {
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 0;
	border: none;
}

.black-button:hover {
	color: orange;
	cursor: pointer;
}

.badway {
	text-align: center;
	font-size: 50px;
	margin-top: 150px;
	text-shadow: 1px 1px black;
}

.panel {
	width: 1000px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 8px 0px rgba(52,65,108,0.25);
	display: none;
}

.panel:hover {
	box-shadow: 2px 1px 8px 0px rgba(52,65,108,0.4);
}

.panelNavi {
	margin-top: 50px;
	background-color: black;
}

.panelNavi ul li {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.panelNavi li {
	font-size: 20px;
	padding: 0px;
	margin-left: 30px;
}

.panelNavi-sorting {
	text-align: center;
}

.order-table{   
	border-collapse: collapse;
	box-shadow: 0 1px 8px 2px rgba(52,65,108,0.25);
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.order-table-header{
	text-align:center;
	background-color: orange;
	color: white;
	border-bottom:1px solid #BBBBBB;
	padding:12px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #E7E7E7; /* gray */
	border-top:1px solid #BBBBBB;
	height: 30px
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 white;
	border-top:1px solid #BBBBBB;
	height: 30px;
}

.margin-top-10 {
	margin-top: 10px;
}

.panelNavi-table {
	/*background-color: red;*/
	width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.panelNavi-title {
	text-align: center;
	font-size: 30px;
	margin-top: 30px;	
}

.addproductForm {
	text-align: center;
}

.wholesale {
	width: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	text-align: center;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-left-50 {
	margin-left: 50px;
}

.margin-left-100 {
	margin-left: 100px;
}

.margin-left-150 {
	margin-left: 150px;
}

.margin-right-50 {
	margin-right: 50px;
}

.margin-right-100 {
	margin-right: 100px;
}

.margin-right-150 {
	margin-right: 150px;
}

.margin-right-240 {
	margin-right: 240px;
}

.margin-right-300 {
	margin-right: 300px;
}

/* BUTTONS */
.styled-button-5 {
	background-color:#ed8223;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border:0;
	text-shadow:#C17C3A 0 -1px 0;
	height:32px;
}

/* FORM STYLES */

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}


.styled-button-1 {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 3px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.styled-button-1:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
    color: white;
}

.styled-button-2 {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.styled-button-2:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
    color: white;
}
